APP_ENV=local
CORS_ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CORS_ALLOW_CREDENTIALS=false
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*
DEBUG=true
DATABASE_ECHO=true

DB_USER=portfolio_user
DB_PASSWORD=change-me-local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=portfolio_db

AUTO_CREATE_DEFAULT_ADMIN=true
ADMIN_EMAIL=admin@local.test
ADMIN_PASSWORD=change-me-local
