APP_NAME=Portfolio API
APP_ENV=local
API_PREFIX=/api
PUBLIC_IMAGE_URL_PREFIX=/img
DEBUG=true
DATABASE_ECHO=true

# Usa DATABASE_URL o las variables DB_*.
DATABASE_URL=
DB_USER=portfolio_user
DB_PASSWORD=change-me-local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=portfolio_db

AUTO_CREATE_DEFAULT_ADMIN=true
ADMIN_EMAIL=admin@local.test
ADMIN_PASSWORD=change-me-local
