APP_ENV=local
DEBUG=true
DATABASE_ECHO=true

DB_USER=portfolio_user
DB_PASSWORD=change-me-local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=portfolio_db

AUTO_CREATE_DEFAULT_ADMIN=true
ADMIN_EMAIL=admin@local.test
ADMIN_PASSWORD=change-me-local
